<div class="wrapper">
    <app-left-sidebar></app-left-sidebar>
    <div class="right-div">
        <app-steps [step]="1"></app-steps>
        <div class="registration">
            <h1>Register Individual Account!</h1>
            <p>For the purpose of industry regulation, your details are required.</p>
            <form [formGroup]="registerForm" (ngSubmit)="onRegisterFormSubmit()">
                <label for="name">Your fullname*
                    <input type="text" autocomplete="off" id="name" placeholder="Enter your name.."
                        formControlName="name">
                    <div class="check" *ngIf="name?.valid">
                        <img src="../../../assets/images/circle_check.svg">
                    </div>
                    <span class="error-text" *ngIf="name?.invalid && name?.errors?.['pattern']">Use only letters and
                        whitespaces.</span>
                    <span class="error-text" *ngIf="name?.touched && name?.errors?.['required']"> Name is
                        required.</span>
                </label>
                <label for="emailid">Email address*
                    <input type="text" autocomplete="off" id="emailid" placeholder="Enter email address"
                        formControlName="email">
                    <div class="check" *ngIf="email?.valid">
                        <img src="../../../assets/images/circle_check.svg">
                    </div>
                    <span class="error-text" *ngIf="email?.touched && email?.errors?.['required']">Email is
                        required.</span>
                    <span class="error-text" *ngIf="email?.invalid && email?.errors?.['pattern']">Please enter a valid
                        email address.</span>
                </label>
                <label for="password">Create password*
                    <input [type]="hide ? 'text' : 'password'" id="password" autocomplete="off"
                        placeholder="Enter your password" formControlName="password">
                    <div class="check" *ngIf="password?.valid">
                        <img src="../../../assets/images/circle_check.svg">
                    </div>
                    <div class="show" *ngIf="password?.dirty &&password?.invalid" (click)="showPassword()">
                        <span>Show</span>
                    </div>
                    <span class="error-text" *ngIf="password?.touched && password?.errors?.['required']">Password is
                        required.</span>
                    <span class="error-text" *ngIf="password?.touched && password?.errors?.['pattern']">Password must
                        contain at least 6 characters, including<br> at least 1 uppercase letter and 1 special
                        character.</span>
                    <!-- {{profileForm.get("password")?.errors | json}} -->
                </label>
                <div class="agree">
                    <input type="checkbox" id="agree" formControlName="agreed"><label for="agree" class="agree">I agree
                        to terms & conditions</label>
                </div>
                <span class="error-text" *ngIf="agree?.touched && agree?.errors?.['required']"> Please agree to the
                    terms and conditions
                    to proceed.</span>
                <button type="submit" [disabled]="!registerForm.valid">Save &
                    Continue</button>
            </form>
            <div class="google">
                <img src="../../../assets/images/flat-color-icons_google.svg">
                <span>Register with google</span>
            </div>
        </div>
    </div>
</div>