<div class="wrapper">
    <app-left-sidebar></app-left-sidebar>
    <div class="right-div">
        <app-steps [step]="2"></app-steps>
        <div class="form-container">
            <h1>Complete Your Profile!</h1>
            <p>For the purpose of industry regulation, your details are required.</p>
            <form [formGroup]="compliteForm1">
                <label for="number">Phone number
                    <input type="text" id="number" placeholder="Enter your phone number.." formControlName="number">
                    <span class="error-text" *ngIf="number?.touched && number?.errors?.['required']"> Phone number is
                        required.</span>
                </label>
                <label for="address">Your fullname*
                    <input type="text" id="address" placeholder="Enter your address.." formControlName="address">
                    <span class="error-text" *ngIf="address?.touched && address?.errors?.['required']"> Address is
                        required.</span>
                </label>
                <label for="number">Country of residence
                    <ng-select class="country" formControlName="country">
                        <ng-option *ngFor="let country of countries" [value]="country.id">{{country.name}}</ng-option>
                    </ng-select>
                    <!-- <input type="text" id="number" placeholder="Enter your phone number.." formControlName="number"> -->
                    <span class="error-text" *ngIf="number?.touched && number?.errors?.['required']"> Phone number is
                        required.</span>
                </label>
                <button (click)="saveContinue()" type="submit" [disabled]="!compliteForm1.valid">Save &
                    Continue</button>
            </form>
            <app-secured></app-secured>
        </div>
    </div>
</div>