<div class="left-img-div">
    <div class="logo">
        <img src="../../../assets/images/logo_oasis.svg">
        <span>Oasis.</span>
    </div>
    <div class="text">
        <div>
            <img src="../../../assets/images/“.svg">
        </div>
        <p>The passage experienced a surge in popularity during the 1960s when Letraset used it
            on their dry-transfer sheets, and again during the 90s as desktop publishers bundled
            the text with their software.</p>
        <br>
        <p>Vincent Obi <span><img src="../../../assets/images/circle_check.svg"></span></p>
        <div class="corner"><img src="../../../assets/images/corner-img.svg"></div>
    </div>
    <img class="circles" src="../../../assets/images/circles.svg">
</div>