<div class="wrapper">
    <app-left-sidebar></app-left-sidebar>
    <div class="join-us-form">
        <div class="signin-p">
            <p>Already have an account? <a routerLink="/login">Sign In</a></p>
        </div>
        <div class="accounts-div">
            <h1>Join Us!</h1>
            <p>To begin this journey, tell us what type of account you’d be opening.</p>
            <a routerLink="/register-account-step-1">
                <div class="account">
                    <div class="account-icon individual">
                        <img src="../../../assets/images/user.svg">
                    </div>
                    <div class="account-type">
                        <span class="type">Individual</span>
                        <span class="description">Personal account to manage all you activities.</span>
                    </div>
                    <div class="arrow"><img src="../../../assets/images/arrow-right.svg"></div>
                </div>
            </a>
            <div class="account ">
                <div class="account-icon business">
                    <img src="../../../assets/images/briefcase.svg">
                </div>
                <div class="account-type">
                    <span class="type">Business</span>
                    <span class="description">Own or belong to a company, this is for you.</span>
                </div>
            </div>
        </div>
    </div>
</div>