.join-us-form {
    width: 53.75vw;
    height: calc(100vw/1.4);
    padding-top: 8vh;
    padding-left: 10vw;
    padding-right: 5vw;
    display: flex;
    flex-direction: column;
}

.signin-p {
    text-align: right;
    margin-bottom: 20px;

    a {
        text-decoration: none;
        color: #1565D8;
    }
}


.accounts-div {
    width: 62%;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.account:hover {
    border: 1px solid #1565D8;
    background-color: #F5F9FF;

    .arrow {
        display: block;
    }
}

.arrow {
    display: none;
}

.account {
    width: 100%;
    height: 108px;
    box-shadow: 0px 2px 14px 1px #0000000F;
    border-radius: 6px;
    display: flex;
    align-items: center;
    padding-left: 25px;
}

.account-icon {
    width: 52px;
    height: 52px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-right: 15px;

    img {
        width: 20px;
        height: 20px;
    }
}

.individual {
    background-image: url('../../../assets/images/Polygon.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.business {
    background-image: url('../../../assets/images/Polygon-transparent.svg');
    background-repeat: no-repeat;
}

.type {
    display: block;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

.description {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    width: 80%;
    display: block;
    color: #8692A6;

}