* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

h1 {
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;

}

p {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    color: #8692A6;

}

.top-nav {
    display: flex;
    justify-content: space-between;

    .back {
        display: flex;
        align-items: center;
        font-family: Inter;
        font-size: 16px;
        font-weight: 600;
        color: #8692A6;
    }

    p.step {
        font-family: Inter;
        font-size: 14px;
        font-weight: 500;
        color: #BDBDBD;
    }

    p.info {
        font-family: Inter;
        font-size: 16px;
        font-weight: 600;
        color: #8692A6;

    }
}

button {
    width: 100%;
    height: 60px;
    background-color: #1565D8;
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    border-radius: 6px;
    border: none;
    outline: none;

    &:hover {
        opacity: 0.8;
    }

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;

    }
}